@import 'nib'

// detail line width
total-width = 600px
icon-width = 32px
game-width = (600px - 32px) / 2
author-width = game-width

body
    background #F0F0F0
    font-family 'Source Sans Pro'

.quotes
    margin 0 auto
    width total-width

.quote
    margin-bottom 20px
    width total-width

.add-quote
    width total-width
    margin 0 auto
    margin-bottom 20px


    .quote-text
        height 100px
        display block

    .button
        float right
        padding 0
        height 32px
        width 200px
        border 0
        margin-top 5px
        font-size 16px
        font-family 'Play'
        cursor pointer

    .cancel-button
        background #e52e2e
        float left

    .cancel-button:hover
        background #d92b2b

    .submit
        background-color #2bd92b
        
    .submit:hover
        background-color #29cc29
    
.clear
    clear both

.action-bar
    width total-width
    margin 0 auto
    margin-bottom 20px

.action-bar .action-bar-left
    float left
    background #b0b0b0
    width 295px

.action-bar .action-bar-right
    float right
    background #b0b0b0
    width 295px

.action-bttn
    font-family 'Play'
    height 32px
    width 32px
    text-align center
    border 0
    padding 0

.action-search-field
    font-family 'Play'
    height 32px
    background transparent
    border 0
    padding 0
    width (295 - 32)px

*::-webkit-input-placeholder
    color #555

.quote-text::-webkit-input-placeholder
    color #BABABA

.action-bttn.action-add
    color green
    font-size 20px

.action-bttn:hover
    background #999
    cursor pointer
    user-select none

.quote-text
    background-color #d0d0d0
    background-image url(quote-start.png), url(quote-end.png)
    background-position left top, right bottom
    background-repeat no-repeat
    padding 30px
    font-size 1.5em
    border 0
    font-family 'Source Sans Pro'
    width total-width - 60px
    resize vertical
    white-space pre-wrap

.details-line
    background-color #aaa
    height 32px
    line-height 32px

.not-logged-in
    font-family 'Play'
    background #f08418
    margin-bottom 5px
    text-align center

.details-line *
    font-family 'Play'
    font-size 15px
    float left
    box-sizing border-box

.quote-icon
    width 32px
    height icon-width

.quote-game
    width game-width
    padding-left 5px
    height 32px
    background transparent
    border 0

.quote-author
    width author-width
    height 32px
    text-align right
    padding-right 5px
    background 0
    border 0

.login
    position absolute
    right 10px
    top 0