@import 'nib'

// detail line width
total-width = 600px
icon-width = 32px
game-width = (600px - 32px) / 2
author-width = game-width

body
    background #F0F0F0
    font-family 'Source Sans Pro'

.quotes
    margin 0 auto
    width total-width

.quote
    margin-bottom 20px
    width total-width
    position relative

.quote-moderation
    position absolute
    right 0
    top 0

.quote-moderation a
    float right
    margin-right 10px
    color blue

.add-quote
    width total-width
    margin 0 auto
    margin-bottom 20px


    .quote-text
        display block

    .button
        float right
        padding 0
        height 32px
        width 200px
        border 0
        margin-top 5px
        font-size 16px
        font-family 'Play'
        cursor pointer

    .cancel-button
        background #e52e2e
        float: left

    .cancel-button:hover
        background: radial-gradient(farthest-side, #cc2929 50%, #e52e2e);

    .submit
        background-color #2bd92b
        
    .submit:hover
        background: radial-gradient(farthest-side,#29cc29 50%,#2bd92b);
    
.add-quote[editing]
    .button-animation
        animation expandHeight .5s ease
        overflow hidden

    .button-reverse
        animation retractHeight .5s ease
        overflow hidden


@keyframes expandHeight
    from
        max-height 0

    to
        max-height 32px

@keyframes retractHeight
    from
        max-height 32px
    to
        max-height 0
    

/*
 * The top action bar and containing buttons
 */

.action-bar
    width total-width
    margin 0 auto
    margin-bottom 20px
    background #b0b0b0

    // Generic style for all action bar buttons
    .action-bttn
        font-family 'Play'
        height 32px
        width 32px
        text-align center
        border 0
        padding 0

    .action-bttn:hover
        background #999
        cursor pointer
        user-select none


    // One custom style for each action bar element
    .action-add
        color green
        font-size 20px

    .action-logo
        width 128px
        height 32px
        background url(quotes.png)

    .action-search-field
        font-family 'Play'
        height 32px
        background transparent
        border 0
        padding-left 6px

        // The search bar takes up the full width except 3 buttons
        width (total-width - 32 * 2 - 128)px

.clear
    clear both

*::-webkit-input-placeholder
    color #555

.quote-text::-webkit-input-placeholder
    color #BABABA

.quote-text
    background-color #d0d0d0
    background-image url(quote-start.png), url(quote-end.png)
    background-position left top, right bottom
    background-repeat no-repeat
    padding 30px
    font-size 1.5em
    border 0
    font-family 'Source Sans Pro'
    width total-width - 60px
    resize vertical
    white-space pre-wrap

.details-line
    background-color #aaa
    height 32px
    line-height 32px
    
.quotes-details
    background: linear-gradient(to right, #aaa, #c4c4c4);
    height 32px
    line-height 32px
    
.not-logged-in
    font-family 'Play'
    background #f08418
    margin-bottom 5px
    text-align center

.details-line *
    font-family 'Play'
    font-size 15px
    float left
    box-sizing border-box
    
.quotes-details *
    font-family 'Play'
    font-size 15px
    float left
    box-sizing border-box
    
.quote-icon
    width 32px
    height icon-width

.quote-game
    width game-width
    padding-left 5px
    height 32px
    background transparent
    border 0

.quote-author
    width author-width
    height 32px
    text-align right
    padding-right 5px
    background 0
    border 0

.login
    position absolute
    right 10px
    top 0
